.footer {
    padding: 94px 10px 80px;
}
.footer__title {
color: $accent-color;
font-size: 30px;
font-weight: 400;
line-height: 1.2;
text-transform: uppercase;
margin-bottom: 15px;
}
.footer__subtitle {
color: $color-white;
font-size: 30px;
font-weight: 400;
line-height: 1.2;
text-transform: uppercase;
margin-bottom: 51px;
}
