.story-date {
    padding-top: 80px;
    display: inherit;
}
.story-date__title {
    color: $color-white;
font-family: $font-time;
font-size: 20px;
font-weight: 600;
line-height: 1.2;
text-transform: uppercase;
margin-bottom: 17px;
}
.story-date__week {
    display: inline-flex;
    height: 22px;
    column-gap: 18px;
    color: $accent-color;
font-family: $font-time;
font-size: 18px;
font-weight: 600;
line-height: 1.2;
text-transform: uppercase;
margin-bottom: 17px;
}
.story-date__time {
    color: $color-white;
font-family: $font-time;
font-size: 18px;
font-weight: 500;
line-height: 1.2;
text-transform: uppercase;
margin-bottom: 17px;
}