// fonts 
$font-main: 'Inter', sans-serif;
$font-accent: 'Abhaya Libre', sans-serif;
$font-time: 'Montserrat', sans-serif; 
$font-accent2: 'Aclonica', sans-serif;
$font-new-coffe: 'NovaSquare', sans-serif;



// color 
$main-color: #303030;
$accent-color: #B59A64;
$button-bg:#9C8351;
$instagram-color: #202020;
$reviews-color:#242424;
$color-text:#727272;
$color-white: #fff;



